/* Begin Trailer Carousel */

#viewscreen {
  margin: auto;
  margin-top: 7%;
  width: 640px;
  height: 360px;
  background-color: #333333;
}

.row {
	overflow: hidden;
	width: 100%;
}

.row__inner {
	transition: 450ms transform;
	font-size: 0;
	white-space: nowrap;
	margin: 70.3125px 0;
	padding-bottom: 10px;
}

.tile {
	position: relative;
	display: inline-block;
	width: 250px;
	height: 140.625px;
	margin-right: 10px;
	font-size: 20px;
	cursor: pointer;
	transition: 450ms all;
	transform-origin: center left;
}

.tile__img {
	width: 250px;
	height: 140.625px;
	object-fit: cover;
}


/*Disable to play trailers inline*/
.tile__details {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	font-size: 10px;
	opacity: 0;
	background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
	transition: 450ms opacity;
}

.tile__details:after {
	margin-top: -25px;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1;
}

.tile:hover .tile__details {
	opacity: 1;
}
.tile__title {
	position: absolute;
	bottom: 0;
	padding: 10px;
}
.row__inner:hover {
	transform: translate3d(-125px, 100, 0);
}
.row__inner:hover .tile {
	opacity: 0.3;
}
.row__inner:hover .tile:hover {
	transform: scale(2);
	opacity: 1;
}
.tile:hover ~ .tile {
	transform: translate3d(250px, 0, 0);
}

/* Slider */
.slider .sliderMask .sliderContent {
    white-space: nowrap;
}
.slider .sliderMask .sliderContent .item {
    z-index: 1;
    display: inline-block;
    position: relative;
    white-space: normal;
    vertical-align: top;
}

.slider {
  width: 95vw;
  overflow-x: visible;
  margin: 0 1vw;
}

i.fa-chevron-circle-right {
  font-size: 3.5vw;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 100px;
  opacity: .5;
  z-index: 2;
  -webkit-transition: -webkit-transform .2s ease-out 0s;
  -moz-transition: -moz-transform .2s ease-out 0s;
  -o-transition: -o-transform .2s ease-out 0s;
  transition: transform .2s ease-out 0s;
}

i.fa-chevron-circle-left {
  font-size: 3.5vw;
  color: white;
  position: absolute;
  left: 20px;
  bottom: 100px;
  opacity: .5;
  z-index: 2;
  -webkit-transition: -webkit-transform .2s ease-out 0s;
  -moz-transition: -moz-transform .2s ease-out 0s;
  -o-transition: -o-transform .2s ease-out 0s;
  transition: transform .2s ease-out 0s;
}

i.fa-chevron-circle-right:hover {
  opacity: 1;
}
i.fa-chevron-circle-left:hover {
  opacity: 1;
}
