/* Begin Trailer Carousel */

#viewscreen {
  margin: auto;
  margin-top: 10%;
  width: 640px;
  height: 360px;
  background-color: #333333;
}

.row {
	overflow: hidden;
	width: 100%;
}

.inside-row {
	transition: 450ms transform;
	font-size: 0;
	white-space: nowrap;
	margin: 70.3125px 0;
	padding-bottom: 10px;
}

.inside-row:hover {
	transform: translate3d(-125px, 100, 0);
}

.inside-row:hover .trailer {
	opacity: 0.3;
}

.inside-row:hover .trailer:hover {
	transform: scale(2);
	opacity: 1;
}

.trailer {
	position: relative;
	display: inline-block;
	width: 250px;
	height: 140.625px;
	margin-right: 10px;
	cursor: pointer;
	transition: 450ms all;
	transform-origin: center left;
}

/*Disable to play trailers in slider*/
.trailer-box {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0;
	background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
	transition: 450ms opacity;
}

.trailer-box:after {
	margin-top: -25px;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1;
}

.trailer:hover .trailer-box {
	opacity: 1;
}

.trailer-image {
	width: 250px;
	height: 140.625px;
	object-fit: cover;
}

.trailer:hover ~ .trailer {
	transform: translate3d(250px, 0, 0);
}

/* Slider */
.trailer-slider .mask .slide-content {
    white-space: nowrap;
}

.trailer-slider .mask .slide-content .item {
    z-index: 1;
    display: inline-block;
    position: relative;
    white-space: normal;
    vertical-align: top;
}

.trailer-slider {
  width: 95vw;
  overflow-x: visible;
  margin: 0 1vw;
}

i.fa-chevron-circle-right {
  font-size: 3.5vw;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 100px;
  opacity: .5;
  z-index: 2;
  -webkit-transition: -webkit-transform .2s ease-out 0s;
  -moz-transition: -moz-transform .2s ease-out 0s;
  -o-transition: -o-transform .2s ease-out 0s;
  transition: transform .2s ease-out 0s;
}

i.fa-chevron-circle-left {
  font-size: 3.5vw;
  color: white;
  position: absolute;
  left: 20px;
  bottom: 100px;
  opacity: .5;
  z-index: 2;
  -webkit-transition: -webkit-transform .2s ease-out 0s;
  -moz-transition: -moz-transform .2s ease-out 0s;
  -o-transition: -o-transform .2s ease-out 0s;
  transition: transform .2s ease-out 0s;
}

i.fa-chevron-circle-right:hover {
  opacity: 1;
}
i.fa-chevron-circle-left:hover {
  opacity: 1;
}

/*@media all and (max-width: 980px) and (min-width: 280px) {*/
  /*#viewscreen {
    margin: auto;
    margin-top: 7%;
    width: 320px;
    height: 180px;
    background-color: #333333;
  }*/
