html {
  width: 100vw;
  height: 100vh;
}
body {
  background-color: #990000;
}

/* index.html tv art video */
div#tv_container{
  top: 10px;
  margin: auto;

}
div#tv_container img {
  display:block;
  margin: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
